[push]
	default = simple
[alias]
	findb = "!f(){ git branch -ra | grep $1; }; f"
	commend = commit --amend --no-edit
	st = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lasttag = describe --tags --abbrev=0
	la = "!git config -l | grep alias | cut -c 7-"
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
[core]
	editor = code --wait
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
	ignorecase = false
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[user]
	useConfigOnly = true
	name = 
	email = 
[user "github"]
	name = Mark Holland
	email = mark@markholland.dev
	signingkey = 077F9557C0A85884
[user "github-catenda"]
	name = Mark Holland
	email = mark.holland@catenda.no
	signingkey = C2CF6E0BA8F6DEF0
[init]
	defaultBranch = main
