[push]
	default = simple
[alias]
	findb = "!f(){ git branch -ra | grep $1; }; f"
	commend = commit --amend --no-edit
	st = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lasttag = describe --tags --abbrev=0
	la = "!git config -l | grep alias | cut -c 7-"
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
[core]
	editor = vim
	autocrlf = input
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[user]
	useConfigOnly = true
[user "github-old"]
	name = Mark Holland
	email = mark@partiallogic.com
	signingkey = D82A6DFB2698A7BF
[user "github"]
	name = Mark Holland
	email = mark@markholland.dev
	signingkey = 6BC7BC1A74F2CA10
[user "github-catenda"]
	name = Mark Holland
	email = mark.holland@catenda.no
	signingkey = BAC4C71C9A35FB21
